  #top {
    border-bottom : 2px solid black;
    display : grid;
    grid-template-columns: 1fr 8fr 1fr;
  }
  h1.top_title {
    vertical-align: middle;
    text-align : center;
    margin : 0;
  }
  #menu{
    border-right :2px solid black;
    padding: 10px;
    margin:0px;  }
  #infor_1{
    display : inline-grid;

    margin :0%;
    padding : 15px;
  }

  #img_1{
    text-align: center;
    width : 200px;
    height : 150px;
  }

   #grid{
     display : grid;
     width :100%;
     grid-template-columns :17% 1fr;
   }
   #change{
     display :grid;
     grid-template-columns : 73% 1fr;
   }
   input[type=submit] {
     background-color: #7c8d31d6;
     color: white;
   }
textarea{
  width: 100%;
   height: 150px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
}
